@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
background-image: url('/Currency.jpg');
background-size: cover;
background-position: center;}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
select.w-full.p-2.border.border-gray-300.rounded-md.shadow-sm.focus\:outline-none.focus\:ring-2.focus\:ring-green-500 {
  background: linear-gradient(45deg, #a5ea30, #197115);
}
span.block.text-lg.font-semibold.mb-2,label.block.text-lg.font-semibold.mb-2{
  background: linear-gradient(45deg, #e7781e, transparent);

}